.dir {
    margin-top: 15px;
    margin-bottom: 15px;

    &__header {
        padding: 0 !important;

        nav > ol.breadcrumb {
            margin-bottom: 0;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
        }
    }

    &__obj {
        &--folder {
            cursor: pointer;
            
            &:hover {
                background-color: rgba(0, 0, 0, .1);
            }
        }

        &--empty {
            opacity: .6;
            text-align: center;
        }
    }

    &__icon {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__size {
        font-size: 12px;
        color: rgb(100, 100, 100);

        display: flex;
        align-items: center;
    }
}