.drawer {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__user, &__info {
        text-align: center;
        padding: 10px;
    }

    &__user {
        padding: 25px;
    }
}